absl-py
appdirs
apturl
asgiref
astroid
astunparse
attrs
Babel
backcall
beautifulsoup4
beniget
bleach
blinker
Brlapi
Brotli
cachetools
certifi
chardet
charset-normalizer
clarifai-grpc
click
cloudpickle
colorama
comm
command-not-found
configobj
contourpy
cryptography
cupshelpers
cycler
dbus-python
debugpy
decorator
defer
defusedxml
distro
Django
entrypoints
eyeD3
filelock
flatbuffers
fonttools
fs
gast
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
gunicorn
h5py
html5lib
httplib2
idna
ifaddr
IMDbPY
importlib-metadata
install
ipykernel
ipython
ipython_genutils
ipywidgets
isort
jedi
jeepney
Jinja2
joblib
jsonschema
jupyter-client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
kazam
keras
Keras-Applications
Keras-Preprocessing
keyring
kiwisolver
launchpadlib
lazr.restfulclient
lazr.uri
lazy-object-proxy
libclang
llvmlite
logilab-common
louis
lxml
lz4
macaroonbakery
Mako
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mccabe
more-itertools
mpmath
mypy-extensions
nbclient
nbconvert
nbformat
nemo-emblems
nest-asyncio
netaddr
netifaces
nltk
numba
numpy
nvidia-cublas-cu11
nvidia-cudnn-cu11
oauthlib
onboard
opencv-python-headless
opt-einsum
packaging
PAM
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
ply
portpicker
prompt-toolkit
protobuf
psutil
ptyprocess
py
pyasn1
pyasn1-modules
pycairo
pycups
pycurl
pyelftools
Pygments
PyGObject
PyICU
pyinotify
PyJWT
pylint
pymacaroons
PyNaCl
pyparsing
pyparted
pyRFC3339
pyrsistent
python-apt
python-dateutil
python-debian
python-gnupg
python-magic
python-xlib
pythran
pytz
pyxdg
PyYAML
pyzmq
regex
reportlab
requests
requests-file
requests-oauthlib
rsa
scikit-learn
scipy
screen-resolution-extra
SecretStorage
setproctitle
shap
simplegeneric
six
slicer
soupsieve
sqlparse
sympy
systemd-python
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-gpu
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath
threadpoolctl
tinycss2
tldextract
toml
tornado
tqdm
traitlets
typing_extensions
tzdata
ubuntu-drivers-common
ufoLib2
ufw
unicodedata2
Unidecode
urllib3
wadllib
wcwidth
webencodings
Werkzeug
widgetsnbextension
wordcloud
wrapt
xdg
xkit
xlrd
youtube-dl
zipp
