{% extends 'privacyAssistant/layout.html' %}
{% block title %}
    Home - Personal Privacy Assistant
{% endblock %}

{% block content %}
    <h1>Welcome to Personal Privacy Assistant</h1>
    <p>If you are unsure whether you should share the photo or not, let your personal privacy assistant decide for you.</p>
    <p>Upload a photo to get a recommendation (private or public) along with an explanation.</p>

    <form method="post" enctype="multipart/form-data" action="{% url 'index' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="photoInput" class="form-label">Upload a photo:</label>
            <input type="file" class="form-control" id="photoInput" name="photo" accept="image/*" required>
            <small class="form-text text-muted">Choose a photo to upload.</small>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    {% if predict %}
        <div class="result">
            <h2>Recommendation:</h2>
            <p>The picture is <span class="recommendation">{{ predict }}</span>.</p>
        </div>
    {% endif %}

    {% if wordcloud %}
        <div class="explanations-container">
            <h2>Explanations:</h2>
            <p class="explanation-text">{{ text }}</p>
        </div>
        <div class="wordclouds-container">
            {% for image_data, topic in wordcloud %}
                <div class="wordcloud">
                    <h3>Word Cloud for Topic {{ topic }}</h3>
                    <img src="data:image/png;base64,{{ image_data }}" alt="WordCloud">
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
