{% extends 'privacyAssistant/layout.html' %}
{% block title %}
    Home - Personal Privacy Assistant
{% endblock %}

{% block content %}
<div class="welcome" style ="text-align:center;margin-top: 80px; margin-bottom: 20px;">
    <h1>Personal Privacy Assistant</h1>
</div>
<div class="welcome-exp" style ="text-align:center; margin-bottom: 20px;">
    <p>If you are unsure whether you should share the photo or not, let your personal privacy assistant decide for you.</p>
    <p>Upload a photo to get a recommendation (private or public) along with an explanation.</p>
</div>
    
    <form id="upload-form" method="post" enctype="multipart/form-data" action="{% url 'index' %}">
        {% csrf_token %}
        <div class="mb-3" style="align-items: center; text-align: center;">
            <label for="photoInput" class="form-label">Upload a photo:</label>
            <input type="file" class="form-control" id="photoInput" name="photo" accept="image/*" required>
            <small class="form-text text-muted">Choose a photo to upload.</small>
        </div>
        <div class="button-upload" style="align-items: center; text-align: center;">
            <button type="submit" class="btn btn-primary">Upload</button>
        </div>
    </form>

    <div id="loading" style="display: none; text-align: center; margin-top: 20px;">Processing the picture, please wait...</div>

    <script>
        document.getElementById('upload-form').addEventListener('submit', function() {
            document.getElementById('loading').style.display = 'block';
        });
    </script>
{% endblock %}
